{
    "machine": {
        "gpu": 1,
        "cpu": 1000,
        "ram": 6000
    },
    "job": {
        "APIVersion": "V1",
        "Spec": {
            "Deal": {
                "Concurrency": 1
            },
            "Docker": {
                "Entrypoint": ["python", "/workspace/run_inference.py"],
                "WorkingDirectory": "/workspace",
                "EnvironmentVariables": [
                    {{ if .input_text }}"INPUT_TEXT={{ js .input_text }}"{{ else }}"INPUT_TEXT=Default text for analysis"{{ end }},
                    {{ if .candidate_texts }}"CANDIDATE_TEXTS={{ js .candidate_texts }}"{{ else }}"CANDIDATE_TEXTS=[\"Default candidate 1\", \"Default candidate 2\"]"{{ end }}
                ],
                "Image": "pbillingsby/sentence-transformers:v1.2"
            },
            "Engine": "Docker",
            "Network": {
                "Type": "None"
            },
            "Outputs": [
                {
                    "Name": "outputs",
                    "Path": "/outputs"
                }
            ],
            "Resources": {
                "GPU": "1"
            },
            "Timeout": 600
        }
    }
}
